VITE_SUPABASE_URL=https://wrikykevhzwppsqrsxch.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndyaWt5a2V2aHp3cHBzcXJzeGNoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI4ODk3OTAsImV4cCI6MjA5ODQ2NTc5MH0.YI6Aee8WMOvyLNRbe28PcMpueKt6cE_RnASAZP6NX6A
